body{
  text-align: center;
}
.box{
  display: inline-block;
  height: 150px;
  width: 45%;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
@media (max-width: 600px){
  .red{
    display: none;
  }
  .blue{
    display: none;
  }
}
@media (min-width: 1000px){
  .box{
    width: 100%;
  }
}
